<!DOCTYPE html>

<html lang="en">

<head th:replace="fragments/headTag :: headTag">
    
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optionl, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
        
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../resources/css/petclinic.css"
          th:href="@{/resources/css/petclinic.css}" rel="stylesheet" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" 
          rel="stylesheet" />
         
</head>

<body>

<div class="container">

  
   <span> <h2>Users <a th:href="@{'/users/new'}" href="createOrUpdateUserForm.html">[+]</a> </h2> </span> 
        
   <table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th th:each="columnName : ${tResults.columns}" th:text="${columnName}">columnName</th>
            </tr>	
        </thead>
        <tbody>
            <tr th:each="tRow : ${tResults.table}">
            	<div th:each="entry : ${tRow}">
            	    <td th:switch="${#strings.equalsIgnoreCase(entry.key, tResults.columnAsLink)}">
                		<a href="userDetails.html"
	                       th:href="@{|/users/${tRow.get('__${tResults.columnId}__')}|}"
	                       th:text="|${entry.value}|"
	                       th:case="true">columnLink</a>             	        
            	        <span th:case="false" th:text="${entry.value}">columnText</span>
                	</td> 
            	</div>
            </tr>
        </tbody>        
    </table>   


    
    <table th:replace="fragments/footer :: footer" class="footer">
    
        <!-- =========================================================================== -->
        <!-- This table section is only used for static prototyping purposes (natural    -->
        <!-- templates) and is therefore entirely optionl, as this markup fragment will  -->
        <!-- be included from "fragments.html" at runtime.                               -->
        <!-- =========================================================================== -->
        
        <tr>
            <td></td>
            <td align="right">
               <img src="../../../resources/images/springsource-logo.png"
                    th:src="@{/resources/images/springsource-logo.png}" 
                    alt="Sponsored by SpringSource" />
            </td>
        </tr>
        
    </table>

</div>

</body>

</html>
