
<!DOCTYPE html>
<html lang="en">

<head> 
<!--  >th:replace="fragments/headTag :: headTag">-->
<title>Development Software PM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
<!-- width=device-width, initial-scale=1, -->
	  
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"></link>
<link rel="stylesheet" href="w3-theme-red.css"></link>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../resources/css/petclinic.css"
      th:href="@{/resources/css/petclinic.css}" rel="stylesheet" />
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
        th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
        th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
      th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet" />

</head>

<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding w3-red" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-opennav"></i> 
  <div class="w3-center">
  <h5>DEVELOPMENT PROJECT MANAGER</h5>
  <h1 class="w3-animate-bottom">KAMAQ</h1>
  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-half">
	<!-- <h3 th:text="#{welcome}">Welcome</h3> -->
	<h4 th:text="${serverTime}">serverTime</h4>
	
	<img th:src="@{/resources/images/kamaq_logo.png}"
	     src="../../resources/images/kamaq_logo.png" />
	
</div>
<div class="w3-row-padding">
<div class="w3-half">

<!-- <form class="w3-container w3-card-4" action="/kamaq/submitLoginForm.html" method="post">-->
<form class="w3-container w3-card-4" action="/kamaq/users/new" method="post">
  <h3>Login</h3>
  <div class="w3-group">      
    <select class="w3-select" type="text" style="width:95%" required="true">
	    <option value="" disabled="true" selected="true">Language</option>
	    <option value="eng">English</option>
  		<option value="spa">Spanish</option>
    </select>
  </div>
  <div class="w3-group">      
    <input name="username" class="w3-input" type="text" style="width:95%" required="true"></input>
    <label class="w3-label">User name</label>
  </div>
  <div class="w3-group">      
    <input name="password" class="w3-input" type="password" style="width:95%" required="true"></input>
    <label class="w3-label">Password</label>
  </div>
  <button type="submit" class="w3-btn">Sign in</button>
  <a class="w3-btn w3-theme">Register</a>
  <br> </br>
</form>
</div>
</div>
</div>


<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-red">
  <h4>A RAW&trade; application</h4>
  <p>All rights reserved - &reg;2015
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-dark">Go To Top</span>&nbsp;   
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  </p>
</footer>


<script src="/lib/w3codecolors.js"></script> 
</body>
</html>
